
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/me.jpg" class="img-fluid" id="foto-de-perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} Romerillo</p>
        <p>FullStack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque, aperiam modi? Nisi dignissimos atque dolor vero quod eligendi obcaecati voluptates voluptate autem velit voluptatibus delectus quidem, earum est. Doloribus, delectus.</p>
        </span>
    </div>
</div>
