<div class="row">

    <h1>Hard & Soft Skills</h1>
  <div class=" col-lg-12 col-md-12 col-sm-12">
    <button type="button" routerLink="/newskill" class="btn btn-primary" *ngIf="isLogged">Nueva Skill</button>
  </div>


    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
        <circle-progress
        [percent]="(skill.porcentaje)"
        [radius]="70"
        [showUnits]="true"
        [imageSrc]="''"
        [subtitle]="(skill.nombre)"
        [titleColor]="'#212f3c'"
        [subtitleFontSize]="'25'"
        [subtitleColor]="'#2809d8'"
        [showTitle]="true"
        [showImage]="false"
        [imageHeight]="60"
        [imageWidth]="60"
        [showSubtitle]="true"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#2809d8'"
        [innerStrokeColor]="'#8b8eaf'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
      
      <div>
        <td *ngIf="isLogged">
          <button class="btn btn-secondary" routerLink="editskill/{{skill.id}}">
            <i class="bi bi-pencil"></i></button>
        </td>
        <td *ngIf="isLogged">
          <button class="btn btn-danger" (click)="delete(skill.id)">
            <i class="bi bi-trash3-fill"></i></button>
        </td>
      </div>
    
    </div>

 
</div>
