<div class="container " *ngIf="proyecto">
    <div class="row">
        <div>
            <form (ngSubmit)="comprobar()" novalidate #f="ngForm">
                <div class="form group">
                    <label for="nombreP">Nombre</label>
                    <input type="text" class="form-control" id="nombreP" value="" name="nombreP"
                        [(ngModel)]="proyecto.nombreP" required>
                </div>
                <div class="form group">
                    <label for="descripcionP">Descripcion</label>
                    <textarea type="text" display="flex" class="form-control" id="descripcionP" name="descripcionP"
                        [(ngModel)]="proyecto.descripcionP" required maxlength="255"></textarea>
                </div>
                <div class="form group">
                    <label for="imgP ">Imagen actual del proyecto:</label>
                    <img class="imagenact" [src]="proyecto.imgP" width="200px">
                </div>
                <br>

                <div class="form group">

                    <label for="imgP">Debe elegir una imagen para el proyecto:</label>

                    <div>
                    <input type="file" required class="form-control" id="imgP" name="imgP"
                        (change)="newImagenUpload($event)" accept=".jpg, .jpeg, .png" 
                        onChange="document.getElementById('tagsmall').innerText=document.getElementById('imgP').files[0]['name'];"
                        hidden >

                    <label for="imgP" class="btn btn-secondary">Seleccionar imagen</label>
                    <small class="tagsmall" id='tagsmall'>No se ha seleccionado imagen</small>
                </div>
                </div>
                

                <div class="imagen">

                    <img [src]="this.actImage" width="200px">
                </div>


                <br>
                <button class="btn btn-primary" [disabled]="!disa || loading">
                    {{(loading) ? 'Actualizando Proyecto...' : 'Editar proyecto'}}
                </button>

                <button class="btn btn-dark" (click)="cancel()">
                    Cancelar
                </button>
            </form>
        </div>
    </div>
</div>