<div class="container">
    <div class="row">
        <div>
            <form [formGroup]="newForm" (ngSubmit)="uploadImage()"  novalidate #f="ngForm">
                <div class="form group">
                    <label for="nombreP">Nombre del Proyecto</label>
                    <input type="text" placeHolder="Escribir nombre del proyecto" class="form-control" id="nombreP" name="nombreP" required formControlName="nom">
                </div>
                <div class="form group">
                    <label for="descripcionP">Descripcion del proyecto</label>
                    <textarea type="text" display="flex" placeHolder="Escribir descripcion del proyecto" class="form-control" id="descripcionP" 
                    name="descripcionP" required formControlName="des" maxlength="255"></textarea>
                </div>
                <div class="form group">
                    <label for="imgP">Imagen del Proyecto</label>
                    <input type="file" class="form-control" id="imgP" name="imgP"(change)="newImagenUpload($event)" formControlName="im"
                    accept=".jpg, .jpeg, .png">
                </div>
                <div class="imagen">
                    <img [src]="this.imagenProyectoService.newImage" width="200px">
                </div>
             
                <button class="btn btn-primary" [disabled]="!newForm.valid || loading">
                    {{(loading) ? 'Agregando Proyecto...' : 'Agregar proyecto'}}
                </button>
                
                <button class="btn btn-dark" (click)="cancel()">
                    Cancelar
                </button>
            
            </form>
        </div>
    </div>
</div>