* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    padding: 20px;
    background: #a1b5cb;
 
}



.parte1, .parte2{
    display: inline-block;
    text-align: justify;
    
   
}

.img-proyecto{
    box-shadow: 10px 10px 30px #000000;
    
}

h1{
    color:#4756df;
}
h2{
    font-size: 25px;
}

@media(max-width: 575px){
   
    .table{
        display: block;
        overflow-x: auto;
    }
   
}


