<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Proyecto 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae optio quas tempora, quis illo obcaecati omnis repellat doloribus, ipsum porro excepturi, similique possimus nulla exercitationem unde rerum deleniti rem aliquid.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/proyecto.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
