<div class="row">
    <div class="container">
        <div class="logo">
            <a href="https://argentinaprograma.inti.gob.ar/" target="_blank" rel="noreferrer noopener"><img src="../../../assets/APLogo.png" id="logoAP"></a>
        </div>
        <div class="redes">
                <a href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener"><img src="../../../assets/instagram.png" id="instagram"></a>
                <a href="https://ar.linkedin.com/in/javier-romero-095bb1124" target="_blank" rel="noreferrer noopener"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href="https://github.com/jromero-yoprogramo" target="_blank" rel="noreferrer noopener"><img src="../../../assets/github.png" id="github"></a>
                <a href="https://twitter.com/?lang=es" target="_blank" rel="noreferrer noopener"><img src="../../../assets/twitter.png" id="twitter"></a>
                <a href="https://es-la.facebook.com/" target="_blank" rel="noreferrer noopener"><img src="../../../assets/facebook.png" id="facebook"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESAR</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>


