:root {
    display: flex;
}

.container {
    min-height: 100%;
    min-width: 100%;
    background-color: #a1b5cb;
    height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
 
  
}

button{
    margin: 4px;
}